<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="fontawesome-free-5.11.2-web/fontawesome-free-5.11.2-web/css/all.min.css">

   
</head>

<body>
    <div id="remo">
        <div id="th">
            <span class="sp1"> Welcome to bussiness Pro Services</span>
            <span class="sp2">
                <i id="ico1" class="far fa-envelope"> </i>
                example@example.com</span>
            <span class="sp3">
                <i id="ico2" class="fas fa-phone-alt"></i>
                +9230738263737</span>
        </div>
        <div id="parent">
            <div id="main">
                <!-- <div  class=" pic2" >  -->
                <img class="mg2" src="13363474.png" alt="">
                <!-- </div> -->
                <button class="child">Home</button>
                <button class="child">About</button>
                <button class="child">Services</button>
                <button class="child">Portfolid</button>
                <button class="child">Page</button>
                <button class="child">Blog</button>
                <button class="child">Contact</button>
                <button class="child">Purchase Now</button>
            </div>
        </div>
    </div>
    <div>
        <img class="mg" src="old-1130731_1920.jpg" alt="">
        <div class="rr">
            <h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit. </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, porro eius magni provident quo saepe
                dignissimos molestiae veritatis vero veniam libero, repudiandae officiis, quod excepturi inventore
                maiores suscipit dicta totam.</p>
        </div>
    </div>
</body>

</html>