<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="fontawesome-free-5.11.2-web/fontawesome-free-5.11.2-web/css/all.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="top-header">
        <img class="zemez-logo" src="https://s3.envato.com/files/270500345/preview.jpg">
        <span class="bussiness">
            <h1>Bussiness</h1>
        </span>
        <span class="free">Free</span>
        <span class="Company">
            <h3> Company</h3>
        </span>
    </div>
    <div id="main">
        <div id="second-top">
            <span class="bussiness1">
                <h1>Bussiness</h1>
            </span>
            <span class="free1">Free</span>
            <span class="Company1">
                <h3> Company</h3>
            </span>
            <span class="wrapper">
                <i id="ico2" class="fas fa-phone-alt"></i>
                +9230738263737
            </span>
            <span class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
        </div>
        <div class="main-point">
            <div class="content">
                <span>Home</span>
                <span>About</span>
                <span>Support</span>
                <span>Contact</span>
            </div>
        </div>
        <div class="parent">
            <img class="men" src="—Pngtree—workplace elites like photography_4976499.png" alt="">
            <span class="point"> Helping With any of <br> your bussiness needs!</span>
        </div>
        <div class="boxes">

            <span class="box-child1"> <i id="globe" class="fas fa-globe-asia"></i>
                <h3 style="color: white;">Bussiness <br>
                    Services</h3>
                <span class="para1"> Lorem ipsum dolor sit amet consectetur
                    adipisicing elit.</span>
            </span>
            <span class="box-child2"> <i id="lightbulb" class="far fa-lightbulb"></i>
                <h3 style="color: white;">Create <br>
                    Ideas</h3>
                <span class="para2"> Lorem ipsum dolor sit amet consectetur adipisicing
                    elit.</span>
            </span>
            <span class="box-child3">
                <i id="icon3" class="fas fa-cog"></i><br>
                <h3 style="color: white;">New <br>
                    Services</h3>
                <span class="para3"> Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
            </span>
            <span class="box-child4"><i id="icon4" class="fas fa-briefcase"></i>
                <h3 style="color: white;">job <br>
                    Services</h3>
                <span class="para4"> Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
            </span>
        </div>
        <div id="Four-view">
            <span class="comment-bar"><i id="comment" class="fas fa-comments"></i>
                <span class="pa1">New Services</span><br>
                <span class="second-para1"> Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>

            </span>
            <span class="user-bar"><i id="user" class="fas fa-users"></i>
                <span class="pa2">New
                    Services</span>
                <span class="second-para2"> Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>

            </span><br>
            <span class="calender-bar">
                <i id="calender" class="far fa-calendar"></i>
                <span class="pa3">New
                    Services</span>
                <span class="second-para3"> Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>

            </span>
            <span class="like-bar"><i id="like" class="far fa-thumbs-up"></i>
                <span class="pa4">New
                    Services</span>
                <span class="second-para4"> Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
            </span>
        </div>
        <span class="line"></span>
        <div class="three-parent">
            <div class="ch1">
                <h3>About</h3>
                <img id="bussiness" src="500_F_106865342_WGvsch7dz7B4J4xRD1gKvEciVVOK5RzS.jpg" alt="">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt explicabo ut libero fuga, aspernatur
                    omnis dicta voluptates corrupti aliquam reprehenderit. Et natus blanditiis animi. Consequuntur a
                    tenetur doloremque aliquam error! Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="ch2">
                <h3>Services</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, laudantium, odit obcaecati sequi
                    impedit sint facilis.</p><br>
                <span class="bk1">
                    <i class="fas fa-check"></i> <span class="tikmark"> Lorem ipsum dolor sit amet elit.</span> <br>
                    <i class="fas fa-check"></i><span class="tikmark"> Lorem ipsum dolor sit amet elit.</span><br>
                    <i class="fas fa-check"></i><span class="tikmark"> Lorem ipsum dolor sit amet elit.</span><br>
                    <i class="fas fa-check"></i><span class="tikmark"> Lorem ipsum dolor sit amet elit.</span><br>
                    <i class="fas fa-check"></i><span class="tikmark"> Lorem ipsum dolor sit amet elit.</span><br>
                    <i class="fas fa-check"></i><span class="tikmark"> Lorem ipsum dolor sit adipisicing
                        elit.</span><br>
                    <i class="fas fa-check"></i><span class="tikmark"> Lorem consectetur adipisicing elit.</span> <br>
                    <i class="fas fa-check"></i><span class="tikmark"> Lorem ipsum dolor sit amet elit.</span><br>
                    <i class="fas fa-check"></i><span class="tikmark"> Lorem ipsum dolor sit amet elit.</span><br>
                    <i class="fas fa-check"></i><span class="tikmark"> Lorem ipsum dolor sit amet elit.</span><br>
                    <i class="fas fa-check"></i><span class="tikmark"> Lorem ipsum dolor sit amet elit.</span><br>
                    <i class="fas fa-check"></i><span class="tikmark"> Lorem ipsum dolor sit amet elit.</span><br>
                </span>
            </div>
            <div class="ch3">
                <div id="clr">
                    <i id="faw" class="fas fa-comment"></i> <span class="help-center">Help center</span>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis magnam in, laborum ducimus quas
                        ipsum
                        ipsam inventore ullam animi. Assumenda natus, numquam voluptatum praesentium reiciendis cumque
                        tempore? Saepe, nostrum quo!</p>
                </div>

            </div>
            <button id="btn">More About</button>
        </div>
        <footer>
            <div class="ft">
                <span>
                    <i id="fontawesome1" class="far fa-lightbulb"></i> <span class="remoa"> Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
                    <i id="fontawesome2" class="fas fa-phone-alt"></i><span class="remoa">+92-300-000-000-2</span>
                    <i id="fontawesome3"class="fab fa-facebook-f"></i><span class="remoa">Like our Facebook Page.</span>
                </span>
                    <div>
                    <i id="fontawesome4" class="far fa-envelope"></i><span class="remoa">Mail us to connect</span>
                    <i id="fontawesome5"class="fas fa-blender-phone"></i><span class="remoa">041-000-888-777</span>
                    <i id="fontawesome6"class="fab fa-twitter"></i><span class="remoa">Follow us on Twitter</span>
                    </div>
            </div>
        </footer>
    </div>
</body>

</html>